.user_form_header {
  border-radius: 10px;
  height: var(--headerHeight);
  background-color: var(--secondary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}
.user_form_logo {
  margin: 0px 20px;
}

.user_form_container {
  color: var(--primary);
  border-radius: 10px;
  padding: 4rem;
  border: solid 1px var(--secondary);
  margin: 4rem auto;
  background-color: var(--secondary);
}
.user_form_avatar { 
  border-radius: 50%;
  margin: 0.5rem;
  max-width: 200px;
}
.user_form {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user_form_label {
  text-transform:capitalize;
  font-size: larger;
  font-weight: 700;
}
.user_form_input  {
  font-size: larger;
  width: 100%;
  height: 3rem;
  margin: 0.5rem;
}
.user_form_error {
  color: red;
  margin: 0;
}
.user_form_button {
  background-color: var(--yellow);
  height: 3rem;
  font-weight: 700;
  font-size: larger;
  color: var(--primary);
}
.user_form_submit {
  background-color: var(--yellow);
}
.user_form_cancel {
  background-color: var(--secondary);
}
.user_form_register_link {
  font-weight: 700;
  color: var(--primary);
  margin: 2rem;
}


/* media queries */
@media (max-width: 767px) {
  .user_form_container {
    margin: 0.5rem 0px;
    padding: 1rem;
  }
  .user_form_avatar {
    width: 7rem;
  }
  .user_form{
    width: auto;
  }

}
