
.header {
  height: var(--headerHeight);
  background-color: var(--secondary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}

.header > img {
  width: 2rem;
  margin: auto 10px;
  background-color: var(--secondary);
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile > img { 
  border-radius: 50%;
  margin: 0.5rem;
  max-width: 50px;
}

