:root {
  --black: #181817;
  --grey: #f7f7f7 ;
  /* #616E76; */
  --white: #F6F3E9;
  --yellow: #FDD541;
  --primary: #455e81;
  --secondary: #eaebed;
  --navBar: #2a3f54;

  --headerHeight: 80px;
}

.App {
  text-align: center;
  border: 1px solid green;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  min-width: 360px;
  /* font-size: calc(10px + 2vmin); */
}

.container {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.header {
  height: var(--headerHeight);
  background-color: var(--secondary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}

.header > img {
  width: 2rem;
  margin: auto 10px;
  background-color: var(--secondary);
}

.icon {
  width: 1.5rem;
  margin: 10px;
}

.hideen{
  position: fixed;
  left: -300px;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile > img { 
  border-radius: 50%;
  margin: 0.5rem;
  max-width: 50px;
}


.footer{
  min-height: 10vh;
  border: 1px solid var(--primary);
}



/* media queries */
@media (max-width: 768px) {
  .navbar{
    position: fixed;
  }
  
.hideen{
  position: relative;
  left: auto;
}

}